<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintecher.manage.mapper.FinanceReceivableMapper">

    <select id="selectFinancialInvoice"
            parameterType="Map" resultType="com.fintecher.manage.vo.FinancialInvoiceModel">
    SELECT
        fcr.id AS id,
        fcr.settle_id AS settleId,
        fcr.takeback_id AS takebackId,
        fcr.card_id AS cardId,
        fcr.order_id AS orderId,
        fcr.receivable_type AS receivableType,
        fcr.receivable_detial_money AS receivableDetialMoney,
        fcr.receivable_date AS receivableDate,
        fcr.operator AS operatorId,
        sysUser.user_realName AS operatorName,
        fcr.is_invoice AS isInvoice,
        fcr.is_receipt AS isReceipt,
        bc.customer_name AS customerName,
        bc.id AS customerId,
        bco.order_no AS orderNo,
        bc.customer_phone AS customerPhone
    FROM
        finance_receivable fcr
        LEFT JOIN basic_customer_order bco ON bco.id = fcr.order_id
        LEFT JOIN basic_repay_scheme brs ON bco.scheme_id = brs.id
        LEFT JOIN basic_customer bc ON bco.customer_id = bc.id
        LEFT JOIN sys_user sysUser ON sysUser.id = fcr.operator
        LEFT JOIN sys_org org ON fcr.org_id = org.id
      where 1=1
        <foreach collection="dataAuth" item="item" open="AND (" close=")" separator="OR">
        org.org_tree_code LIKE CONCAT(#{item}, '%')
        </foreach>
        <foreach collection="exceptDataAuth" item="item" open="AND (" close=")" separator="AND">
            org.org_tree_code NOT LIKE CONCAT(#{item}, '%')
        </foreach>
        <if test="customerName != null and customerName != ''">
            AND bc.customer_name LIKE CONCAT('%',#{customerName} ,'%')
        </if>
        <if test="isInvoice != null and isInvoice != ''">
           and fcr.is_invoice =#{isInvoice}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND bco.order_no LIKE CONCAT('%',#{orderNo} ,'%')
        </if>
        <if test="idCard != null and idCard != ''">
            AND bc.id_card LIKE CONCAT('%',#{idCard} ,'%')
        </if>
        <if test="customerPhone != null and customerPhone != ''">
            AND bc.customer_phone LIKE CONCAT('%',#{customerPhone} ,'%')
        </if>
    </select>
</mapper>