<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintecher.manage.mapper.SysUserRoleMapper">
    <delete id="deleteUserRoleByUserIds" parameterType="arraylist">
        DELETE FROM sys_user_role
        WHERE user_id IN
        <foreach collection="userIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>